<!--
.. title: Breaking the codes!
.. slug:
.. date: 2017-03-26 01:07:21 UTC+01:00
.. tags:
.. category:
.. link:
.. description:
.. type: text
.. hidetitle: True
-->

<div class="jumbotron">
    <div class="container">
        <h1>Breaking the codes!</h1>
        <br>
        <h2>Jailbreak</h2>
        <blockquote>
            <p><i>verb</i> Modify a smartphone or other electronic device to remove restrictions imposed by the manufacturer, e.g. to allow the installation of unauthorized software.</p>
            <p><i>verb</i> Escape from prison.</p>
            <p><i>Syn.</i> <strong>Deliver<strong>.</p>
            <p><i>Ex.</i> Jailbreak: Deliver your digital potential.</p>
        </blockquote>
        <br>
        <p><a class="btn btn-primary btn-lg get-started" href="taskforce/" role="button">About us »</a> <a class="btn btn-default btn-lg" href="projects/" role="button">Our projects »</a></p>
    </div>
</div>
