<!--
.. title: Rompiendo los códigos!
.. slug:
.. date: 2017-03-26 01:07:21 UTC+01:00
.. tags:
.. category:
.. link:
.. description:
.. type: text
.. hidetitle: True
-->

<div class="jumbotron">
    <div class="container">
        <h1>Rompiendo los códigos!</h1>
        <br>
        <h2>Jailbreak</h2>
        <blockquote>
            <p><i>verbo</i> Modificar un teléfono u otro dispositivo electrónico con el fin de quitar las restricciones impuestas por el fabricante para permitir, por ejemplo, la instalación de aplicaciones no autorizadas.</p>
            <p><i>verbo</i> Escaparse de la cárcel.</p>
            <p><i>Sin.</i> <strong>Liberar<strong>.</p>
            <p><i>Ej.</i> Jailbreak: Libera tu potencial digital.</p>
        </blockquote>
        <br>
        <p><a class="btn btn-primary btn-lg get-started" href="taskforce/" role="button">Sobre nosotros »</a> <a class="btn btn-default btn-lg" href="projects/" role="button">Nuestros proyectos »</a></p>
    </div>
</div>
