html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

.navbar {
  font-family: monospace;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.navbar-brand a {
  color: #00C853;
  position: relative; }
  .navbar-brand a:hover {
    color: #00C853;
    text-decoration: none; }
  .navbar-brand a span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: #212121;
    border-left: .5em solid;
    box-sizing: border-box;
    -webkit-animation: typing 3s steps(17, end) 5 alternate, blink-caret 1s step-end infinite;
    animation: typing 3s steps(17, end) 5 alternate, blink-caret 1s step-end infinite; }

#faux-terminal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 51px;
  min-height: 51px;
  z-index: 4000;
  pointer-events: none; }
  #faux-terminal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
    min-height: 51px;
    z-index: 4010;
    background: -webkit-linear-gradient(#444 50%, #000 50%);
    background: linear-gradient(#444 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .14;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-animation: pulse 5s linear infinite;
    animation: pulse 5s linear infinite; }
  #faux-terminal:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
    min-height: 51px;
    z-index: 4011;
    background-color: #00C853;
    box-shadow: inset 0px 0px 4px 4px rgba(100, 100, 100, 0.5);
    opacity: .1; }
  #faux-terminal .layer {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
    min-height: 51px;
    z-index: 4001;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 64, 0.1);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: perspective(20px) rotateX(0.5deg) skewX(2deg) scale(1.03);
    transform: perspective(20px) rotateX(0.5deg) skewX(2deg) scale(1.03);
    -webkit-animation: glitch 1s linear infinite;
    animation: glitch 1s linear infinite;
    opacity: .9; }
    #faux-terminal .layer:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 51px;
      min-height: 51px;
      opacity: .1; }
  #faux-terminal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
    min-height: 51px;
    z-index: 4100; }
    #faux-terminal .overlay:before {
      content: '';
      position: absolute;
      top: 0px;
      width: 100%;
      height: 5px;
      background: #fff;
      background: -webkit-linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, snow 50%, rgba(255, 255, 255, 0.98) 51%, rgba(255, 0, 0, 0) 100%);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, snow 50%, rgba(255, 255, 255, 0.98) 51%, rgba(255, 0, 0, 0) 100%);
      opacity: .1;
      -webkit-animation: vline 1.25s linear infinite;
      animation: vline 1.25s linear infinite; }
    #faux-terminal .overlay:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 51px;
      min-height: 51px;
      box-shadow: 0 2px 6px rgba(25, 25, 25, 0.2), inset 0 1px rgba(50, 50, 50, 0.1), inset 0 3px rgba(50, 50, 50, 0.05), inset 0 3px 8px rgba(64, 64, 64, 0.05), inset 0 -5px 10px rgba(25, 25, 25, 0.1); }

@-webkit-keyframes vline {
  0% {
    top: 0px; }
  100% {
    top: 100%; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.001);
    opacity: .14; }
  8% {
    -webkit-transform: scale(1);
    opacity: .13; }
  15% {
    -webkit-transform: scale(1.004);
    opacity: .14; }
  30% {
    -webkit-transform: scale(1.002);
    opacity: .11; }
  100% {
    -webkit-transform: scale(1);
    opacity: .14; } }
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: scale(1, 1.002); }
  50% {
    -webkit-transform: scale(1, 1.0001); }
  100% {
    -webkit-transform: scale(1.001, 1); } }
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #00C853; } }
@-webkit-keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }
@keyframes vline {
  0% {
    top: 0px; }
  100% {
    top: 100%; } }
@keyframes pulse {
  0% {
    transform: scale(1.001);
    opacity: .14; }
  8% {
    transform: scale(1);
    opacity: .13; }
  15% {
    transform: scale(1.004);
    opacity: .14; }
  30% {
    transform: scale(1.002);
    opacity: .11; }
  100% {
    transform: scale(1);
    opacity: .14; } }
@keyframes glitch {
  0% {
    transform: scale(1, 1.002); }
  50% {
    transform: scale(1, 1.0001); }
  100% {
    transform: scale(1.001, 1); } }
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #00C853; } }
@keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }
