<!--
.. title: Casser les codes !
.. slug:
.. date: 2017-03-26 01:07:21 UTC+01:00
.. tags:
.. category:
.. link:
.. description:
.. type: text
.. hidetitle: True
-->

<div class="jumbotron">
    <div class="container">
        <h1>Casser les codes !</h1>
        <br>
        <h2>Jailbreak</h2>
        <blockquote>
            <p><i>verbe</i> Modifier un téléphone ou autre appareil électronique afin d'en enlever les restrictions imposées par le fabriquant, dans le but par exemple d'installer des applications non-autorisées.</p>
            <p><i>verbe</i> S'échapper de prison.</p>
            <p><i>Syn.</i> <strong>Délivrer<strong>.</p>
            <p><i>Ex.</i> Jailbreak : Délivrez votre potentiel numérique.</p>
        </blockquote>
        <br>
        <p><a class="btn btn-primary btn-lg get-started" href="taskforce/" role="button">Nous connaître »</a> <a class="btn btn-default btn-lg" href="projects/" role="button">Nos projets »</a></p>
    </div>
</div>
